@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position:relative;
  width:100%;
  min-height:100vh;
}
#root,
canvas {

  position:fixed;
  inset:0

}
.switch {
  transform: translate(-50%, 20px) !important;
    left: 50% !important;
  display:flex;
  justify-content:center
}

.switch .dot {
  background-image:linear-gradient(#ffcc89,#d8860b);
  
}